.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
          transition: height 0.35s ease;
}


.archive-content {
    /* Rectangle 155: */
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}

.archive-header {
    /* Rectangle 155: */
    background: #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
    min-height:55px;
}

.archive-header > div {
    display:inline-block;
    padding-top:15px;
    padding-left:15px;
}

.page-count {
    width:50px;
}

.archive-description {
    padding:15px;
    font-size:90%;
}

.archive-content th {
    color:black;
    font-weight:bold;
    font-size:14px;
    background: #F7F7F7;
}

.archive-content tr {
    font-size:13px;
}
.input-append .add-on, .input-prepend .add-on {
    height:20px;
    width:65px;
    background-color:#fff;
}

.ss-date {
    width:150px;
    outline:none;
    height:20px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
    color:#757575;
}

.archive-header  .input-prepend, .archive-header .btn {
    margin-left:10px;
}

.archive-header .btn {
    height:30px;
    border: 1px solid #ccc;
    border-radius:4px;
    padding-bottom:0;
    padding-top:0;
    margin-top:-10px;
    color:#757575;

}

.ss-datepicker-form {
    float:right;
    padding-top:15px;
    margin-bottom:0;
}

/* Responsive table nonsense */
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table.ucpd, table.ucpd thead, table.ucpd tbody, table.ucpd th, table.ucpd td, table.ucpd tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    table.ucpd thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.ucpd tr {
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }

    table.ucpd td {
        /* Behave  like a "row" */
        border: none;
        /*border-bottom: 1px solid #eee;*/
        position: relative;
        padding-left: 50%;
    }

    table.ucpd td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight:bold;
    }

}

@media
only screen and (max-width: 1224px) {
    .ss-datepicker-form {
        float: none;
    }
}
