/*

The University of Chicago
Print styles
Last updated: 10/19/2012

*/
/* Baseline */
body {	font: normal 12px/1.75em Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;	margin: 0 auto;	width: 96%;	word-wrap: break-word;text-rendering: optimizeLegibility;}
h2,
h3,
h4,
h5,
h6 {font-weight:normal;line-height:1.25em;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-bottom:1em;clear:both;}
h1 {font-size:1.75em;color:#670A0A;}
h2 {font-size:1.5em;}
h3,.maincontent h4,.maincontent h5,.maincontent h6 {color:#484747;}
h3 {font-size:1.375em;}
h4 {font-size:1.25em;}
h5 {font-size:1.125em;}
h6 {font-size:1em;}
img {border: 0;	display: block;	margin: 0.5em 0;}
pre, code {overflow: scroll;}
pre {white-space: pre-wrap;}
blockquote {border-top: 1px solid #bbb;border-bottom: 1px solid #bbb;margin: 1.5em 0;padding: 0.5em 0;}
table {	width: 100%;}
caption {font-weight: 700;}
thead {background: #eee;}
th, td {padding: 10px;	text-align: left;}
th, caption, dt {font-weight: 700;}
tr {border-bottom: 1px solid #000;}
ul, ol {list-style: none;	margin-left: 0;	padding-left: 0;}
a {	text-decoration: none;	color: #155F83;}

/* Show URLs after link phrase in main content area */
a:link:after, a:visited:after,a:link:after, a:visited:after {content: " (" attr(href) ") ";	font-size: 90%;	color: #333;}
/*.maincontent, .sidebar {float:left;	margin-bottom:10%;}
.maincontent {width:70%;margin-right:5%;}
.sidebar {width:25%; font-size:90%;}*/
/* --CUSTOM RULES-- */
/* Hidden elements */
.btn,ul#skip,.topnav,.mainnav,.wordmark.phone,.call_to_action, #leftcol,footer ul,footer .row-fluid.footer+.row-fluid,#hide,#addthis,.addthis_toolbox,#featurenav,.hidden-phone,.hidden-tablet,#features li,.module.current_features,.col4.shield,.module.video,.col3.headlines,.module.explore, .module.generic iframe, #project_details {display: none!important;visibility: hidden!important;}
.feature-box{float: left; width: 50%;}
section{border-top: solid 1px #000;}
/* Hi-res workdmark */
.wordmark img{display: block;height: 150px;width: 244px;margin: 2% auto;}
.logo img{display: block; height: 75px; width:373px;}
.wordmark a, .wordmark h3 {display:none;visibility: hidden;}

/* General stuff */
#mainfeature img, .sidebar img {width: 100%;}
footer {border-top: 1px solid #000;padding-top:20px;background:#fff;clear:both;}